.square_checkbox {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        display: none;
        &:checked~.checkmark {
            background-color: #009ad6;
        }
    }
    .checkmark {
        position: relative;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        background-color: #e7f0f7;
        border-radius: 3px;
        box-shadow: none;
        overflow: visible !important;
    }
}