@import 'reset.scss';
@import '~pure';
html,
body,
#root {
    height: 100%;
}

#root {
    background-color: #f1f6f9;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #3a3e49;
}

.button {
    color: white;
    background-color: #009ad6;
    padding: 5px 15px;
    &:hover {
        background-image: none;
        color: #009ad6;
        background-color: white;
    }
    &-rounded {
        border-radius: 25px;
    }
    &-big {
        padding: 10px 25px;
    }
}

.content-wrapper {
    .users-table,
    td,
    th {
        border: none;
    }
    .users-add-form {
        legend {
            border: none;
        }
        input {
            border: none;
            box-shadow: none;
            &.error {
                border: 1px solid red;
            }
        }
        .users-form-input {
            float: left;
            margin-right: 10px;
        }
        .button {
            margin: 22px 0 0 15px;
        }
    }
    .users-table {
        th {
            padding: 10px;
        }
        thead {
            tr {
                th {
                    &:last-child {
                        text-align: center;
                    }
                }
            }
            background-color: #e7f0f7;
        }
        tbody {
            td {
                &:first-child {
                    width: 15px;
                }
                &:last-child {
                    text-align: center;
                }
            }
            background-color: white;
        }
        &-tabs {
            flex: 1;
            display: flex;
            justify-content: center;
            .tabs-left,
            .tabs-right {
                flex: 1;
                flex-direction: row;
                margin: 25px 10px;
                display: flex;
            }
            .tab {
                cursor: pointer;
                padding-bottom: 5px;
                margin: 0px 10px;
                &.active {
                    border-bottom: 2px solid #009ad6;
                }
            }
            .tabs-right {
                justify-content: flex-end;
                span {
                    cursor: pointer;
                }
            }
        }
        min-width: 700px;
    }
}